
body {
    font: {
        family: Geometria;
        style: normal;
        weight: 500;
        size: 36px;
    }
    color: #F2F2F2;
    background: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%);
}