/* шрифты*/
@font-face {
    font-family: 'Geometria';
    src: local("Geometria Bold"), local("GeometriaBold"), url("fonts/Geometria-Bold.woff2") format("woff2"), url("fonts/Geometria-Bold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

    @font-face {
    font-family: 'Geometria';
    src: local("Geometria"), local("GeometriaRegular"), url("fonts/Geometria-Regular.woff2") format("woff2"), url("fonts/Geometria-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}